
.invites .media-list {
    margin-top: 10px;
}
.invites .media-body {
    width: 1%;
    word-break: initial;
}
.invites .media-body:first-child {
    width: auto;
}
.invites .media-body:first-child .media-object {
    float: left;
    margin-right: 5px;
}
.invites .media-body:not(:first-child) {
    padding-left: 5px;
}